<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{action}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="content">
    <ion-card *ngIf="info">
      <ion-item *ngIf="info.id">{{info.id}}</ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="info.nombreUsuario" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [(ngModel)]="info.apellidoUsuario" name="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="info.contrasenaUsuario" name="contrasena" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Rol</ion-label>
        <ion-input [(ngModel)]="info.rol" name="rol" [disabled]="info.rol === 'super_admin'"></ion-input>
      </ion-item>
      <div id="content_buttons">
        <ion-button (click)="event()">{{textButton}}</ion-button>
        <ion-button (click)="back()">Cancel</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>
